$color-text: #454545;
$color-text-title: #363636;
$color-text-light: #fff;
$color-text-dark: #0a0a0a;

$color-background-1: #fff;
$color-background-2: #f5f5f5;
$color-background-3: #e8e8e8;
$color-background-4: #c3c6c8;
$color-background-5: #0a0a0a;

$color-main: #149AF3;
$color-vibrant: #44b0f7;
$color-contrast: #da1039;
$color-contrast-vibrant: #ff3860;
