#blog-section {
    .date {
        font-size: 14px;
        float: right;
    }

    .title {
        clear: both;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .tags {
        margin-bottom: 0.5rem;
    }
}
