#about {
	max-width: 768px;

	.shelf-content {
		padding-bottom: 3rem;
	}

	.shelf-image {
		padding: 0;
		flex-shrink: 0;
	}

	.title:hover {
		text-decoration: none;
	}
}

#face {
	height: 400px;
	background: $color-main;
}

@keyframes bounceIn {
	0% {
		-webkit-transform: translateY(-60px);
	}
	20% {
		-webkit-transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-15px);
	}
	60% {
		-webkit-transform: translateY(0);
	}
	80% {
		-webkit-transform: translateY(-4px);
	}
	100% {
		-webkit-transform: translateY(0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#about-section {
	padding-top: 0;
}
