.pagination {
	.pagination-link,
	.pagination-previous,
	.pagination-next {
		border: 0;
		border-radius: 0;
		box-shadow: none !important;
		background: $color-background-4;
		width: 1.25rem;
		height: 1.25rem;
		border-radius: 500px;
		min-width: unset;
		transition: transform 0.2s ease-out;
		padding: 0;
		vertical-align: inherit;

		&.is-current {
			width: 1.25rem;
			height: 1.25rem;
			border: 0.15rem solid $color-background-5;
			background: transparent;
		}

		&:hover:not(.is-current):not([disabled]) {
			transform: scale(1.25);
		}
	}
}
