<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block no_title %}{% block title %}{% endblock %} - {% endblock %}{{ bio.name }}</title>
    {% load static %}

    <meta name="viewport"
        content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    {% if bio.favicon_url %}<link rel="shortcut icon" type="image/x-icon" href="{{bio.favicon_url}}">{% endif %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
        integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/custom.min.css' %}" type="text/css" />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"
        integrity="sha256-TQq84xX6vkwR0Qs1qH5ADkP+MvH0W+9E7TdHJsoIQiM=" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>

{% load personal_extras %}

<body>
    <div class="site-wrapper">
        {% if bio.announcement %}
        <div class="container">
            <div class="notification announcement">{{ bio.announcement|safe }}</div>
        </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    {% include "personal/includes/footer.html" %}
</body>

</html>