{% extends "personal/header.html" %}

{% load personal_extras %}

{% block no_title %}{% endblock %}
{% block pagename %}Home{% endblock %}

{% block content %}



{% include "personal/includes/navbar.html" with active_link="home" %}

<div class="container">
    <section id="about-section" class="section">
        <div id="about">
            <div class="shelf is-half">
                <div class="shelf-content">
                    {% if bio.title %}<h1 class="title is-spaced">{{ bio.title|safe }}</h1>{% endif %}
                    {% if bio.greeting %}<span class="subtitle">{{ bio.greeting }}</span>{% endif %}
                    <div class="mb-4">{{ bio.about_me|safe }}</div>
                    {% if bio.location %}
                    <p class="icon-text mb-4">
                        <span class="fa-stack">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
                        </span>
                        {{ bio.location|safe }}
                    </p>
                    {% endif %}
                    {% if bio.employment %}
                    <p class="icon-text mb-4">
                        <span class="fa-stack">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
                        </span>
                        {{ bio.employment|safe }}
                    </p>
                    {% endif %}
                </div>
                {% if bio.screenshot_url %}
                <div class="shelf-image fade-in">
                    <figure class="image has-shadow">
                        <img id="face" src="{{ bio.screenshot_url }}">
                    </figure>
                </div>
                {% endif %}
            </div>   
            {% if bio.show_about_buttons %}
                {% if bio.resume_url %}
                <a class="button is-dark is-medium is-block" href="{{ bio.resume_url }}">Resume</a>
                {% endif %}
            {% endif %}
        </div>
    </section>
</div>
{% if posts %}
<div class="background-wrapper is-dark">
    <div class="container">
        {% include "personal/includes/posts_list.html" %}
        {% if more_posts %}
        <section class="section pt-0">
            <a class="button is-dark is-medium is-block" href="/posts/{{ post.id }}">View All Posts</a>
        </section>
        {% endif %}
    </div>
</div>
{% endif %}

{% endblock %}