{% extends "personal/header.html" %}

{% load personal_extras %}

{% block title %}Portfolio{% endblock %}
{% block pagename %}Portfolio{% endblock %}

{% block content %}

{% include "personal/includes/navbar.html" with active_link="post" %}


<div class="background-wrapper is-dark">
    <div class="container">
        {% include "personal/includes/posts_list.html" %}
    </div>
    <section class="section pt-0">
        {% include "personal/includes/pagination.html" with bottom=True %}
    </section>
</div>

{% endblock %}